annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
ansible-core==2.18.1 ; python_version >= "3.11" and python_version < "4.0"
ansible==11.1.0 ; python_version >= "3.11" and python_version < "4.0"
bcrypt==4.2.1 ; python_version >= "3.11" and python_version < "4.0"
boto3-stubs[s3]==1.35.86 ; python_version >= "3.11" and python_version < "4.0"
boto3==1.35.86 ; python_version >= "3.11" and python_version < "4.0"
botocore-stubs==1.35.86 ; python_version >= "3.11" and python_version < "4.0"
botocore==1.35.86 ; python_version >= "3.11" and python_version < "4.0"
cachier==3.1.2 ; python_version >= "3.11" and python_version < "4.0"
certifi==2024.12.14 ; python_version >= "3.11" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.4.0 ; python_version >= "3.11" and python_version < "4.0"
cryptography==44.0.0 ; python_version >= "3.11" and python_version < "4.0"
deprecated==1.2.15 ; python_version >= "3.11" and python_version < "4.0"
hvac==2.3.0 ; python_version >= "3.11" and python_version < "4.0"
idna==3.10 ; python_version >= "3.11" and python_version < "4.0"
jinja2==3.1.5 ; python_version >= "3.11" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
lxml==5.3.0 ; python_version >= "3.11" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.11" and python_version < "4.0"
mypy-boto3-s3==1.35.81 ; python_version >= "3.11" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.11" and python_version < "4.0"
passlib==1.7.4 ; python_version >= "3.11" and python_version < "4.0"
portalocker==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
prettytable==3.12.0 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.11" and python_version < "4.0"
pydantic-core==2.27.2 ; python_version >= "3.11" and python_version < "4.0"
pydantic-settings==2.7.0 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.10.4 ; python_version >= "3.11" and python_version < "4.0"
pygithub==2.5.0 ; python_version >= "3.11" and python_version < "4.0"
pyjwt[crypto]==2.10.1 ; python_version >= "3.11" and python_version < "4.0"
pynacl==1.5.0 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
python-gnupg==0.5.3 ; python_version >= "3.11" and python_version < "4.0"
python-terraform==0.10.1 ; python_version >= "3.11" and python_version < "4.0"
pywin32==308 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.11" and python_version < "4.0"
resolvelib==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
s3transfer==0.10.4 ; python_version >= "3.11" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
types-awscrt==0.23.6 ; python_version >= "3.11" and python_version < "4.0"
types-s3transfer==0.10.4 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.3.0 ; python_version >= "3.11" and python_version < "4.0"
watchdog==6.0.0 ; python_version >= "3.11" and python_version < "4.0"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "4.0"
wrapt==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
