---
- name: Nextcloud | Prepare | Install Packages
  ansible.builtin.apt:
      state: present
      name:
          - ffmpeg
          - libvips-dev
          - libvips42
          - libsystemd-dev
          - imagemagick
          - python3-mysqldb
          - python3-lxml
          - python3-psycopg2
          - python3-requests
          - memcached
          - libmagickcore-6.q16-6-extra

- name: Nextcloud | Prepare | Change ImageMagick policy
  ansible.builtin.replace:
      path: /etc/ImageMagick-6/policy.xml
      regexp: 'rights="none" pattern="{{ item }}"'
      replace: 'rights="read|write" pattern="{{ item }}"'
      backup: true
  with_items:
      - "PNG"
      - "PDF"
      - "XPS"
      - "EPS"
      - "PS2"
      - "PS"
      - "PS3"

- name: Nextcloud | Prepare | Enable Local Memcached
  ansible.builtin.systemd_service:
      name: memcached
      enabled: true
      state: started

- name: Nextcloud | Prepare | Download Debian PHP Repository gpg key
  ansible.builtin.get_url:
      url: "https://packages.sury.org/php/apt.gpg"
      dest: "/etc/apt/trusted.gpg.d/php.gpg"
      mode: "0644"

- name: Nextcloud | Prepare | Add PHP Repository
  ansible.builtin.apt_repository:
      repo: "deb [signed-by=/etc/apt/trusted.gpg.d/php.gpg] https://packages.sury.org/php/
          {{ ansible_distribution_release }} main"
      state: present
      filename: "php"
      update_cache: true

- name: Nextcloud | Prepare | Install php packages for {{ cs_nc_php_version }}
  ansible.builtin.apt:
      name:
          - php{{ cs_nc_php_version }}
          - php{{ cs_nc_php_version }}-cli
          - php{{ cs_nc_php_version }}-curl
          - php{{ cs_nc_php_version }}-gd
          - php{{ cs_nc_php_version }}-bz2
          - php{{ cs_nc_php_version }}-mbstring
          - php{{ cs_nc_php_version }}-intl
          - php{{ cs_nc_php_version }}-xml
          - php{{ cs_nc_php_version }}-zip
          - php{{ cs_nc_php_version }}-common
          - php{{ cs_nc_php_version }}-pgsql
          - php{{ cs_nc_php_version }}-ldap
          - php{{ cs_nc_php_version }}-smbclient
          - php{{ cs_nc_php_version }}-imap
          - php{{ cs_nc_php_version }}-bcmath
          - php{{ cs_nc_php_version }}-gmp
          - php{{ cs_nc_php_version }}-imagick
          - php{{ cs_nc_php_version }}-redis
          - php{{ cs_nc_php_version }}-apcu
          - php{{ cs_nc_php_version }}-opcache
          - php{{ cs_nc_php_version }}-igbinary
          - php{{ cs_nc_php_version }}-memcached
          - php{{ cs_nc_php_version }}-soap
          - php{{ cs_nc_php_version }}-xmlrpc
          - php{{ cs_nc_php_version }}-mysql
          - php{{ cs_nc_php_version }}-dev
          - php{{ cs_nc_php_version }}-imagick
          - php{{ cs_nc_php_version }}-fpm

- name: Nextcloud | Prepare | Install Apache2
  ansible.builtin.apt:
      name:
          - apache2
          - apache2-utils
          - libapache2-mod-php{{ cs_nc_php_version }}

- name: Nextcloud | Prepare | Change PHP ini settings
  community.general.ini_file:
      path: "{{ item.path }}"
      section: "{{ item.section | default('') }}"
      option: "{{ item.option }}"
      value: "{{ item.value }}"
      mode: "0644"
      create: false
      no_extra_spaces: "{{ item.no_extra_spaces | default(true) }}"
  with_items:
      - path: /etc/php/{{ cs_nc_php_version }}/fpm/php.ini
        section: PHP
        option: memory_limit
        value: 1024M
        no_extra_spaces: false
      - path: /etc/php/{{ cs_nc_php_version }}/apache2/php.ini
        section: PHP
        option: memory_limit
        value: 1024M
        no_extra_spaces: false
      - path: /etc/php/{{ cs_nc_php_version }}/fpm/pool.d/www.conf
        section: www
        option: env[HOSTNAME]
        value: $HOSTNAME
        no_extra_spaces: false
      - path: /etc/php/{{ cs_nc_php_version }}/fpm/pool.d/www.conf
        section: www
        option: env[PATH]
        value: /usr/local/bin:/usr/bin:/bin
        no_extra_spaces: false
      - path: /etc/php/{{ cs_nc_php_version }}/fpm/pool.d/www.conf
        section: www
        option: env[TMP]
        value: /tmp
        no_extra_spaces: false
      - path: /etc/php/{{ cs_nc_php_version }}/fpm/pool.d/www.conf
        section: www
        option: env[TMPDIR]
        value: /tmp
        no_extra_spaces: false
      - path: /etc/php/{{ cs_nc_php_version }}/fpm/pool.d/www.conf
        section: www
        option: env[TEMP]
        value: /tmp
        no_extra_spaces: false
      - path: /etc/php/{{ cs_nc_php_version }}/mods-available/apcu.ini
        option: extension
        value: apcu.so
      - path: /etc/php/{{ cs_nc_php_version }}/mods-available/apcu.ini
        option: apc.enable_cli
        value: 1
      - path: /etc/php/{{ cs_nc_php_version }}/mods-available/opcache.ini
        option: zend_extension
        value: opcache.so
      - path: /etc/php/{{ cs_nc_php_version }}/mods-available/opcache.ini
        option: opcache.enable
        value: 1
      - path: /etc/php/{{ cs_nc_php_version }}/mods-available/opcache.ini
        option: opcache.enable_cli
        value: 1
      - path: /etc/php/{{ cs_nc_php_version }}/mods-available/opcache.ini
        option: opcache.revalidate_freq
        value: 60
      - path: /etc/php/{{ cs_nc_php_version }}/mods-available/opcache.ini
        option: opcache.validate_timestamps
        value: 0
      - path: /etc/php/{{ cs_nc_php_version }}/mods-available/opcache.ini
        option: opcache.save_comments
        value: 1
      - path: /etc/php/{{ cs_nc_php_version }}/mods-available/opcache.ini
        option: opcache.jit
        value: 1255
      - path: /etc/php/{{ cs_nc_php_version }}/mods-available/opcache.ini
        option: opcache.jit_buffer_size
        value: 128M
      - path: /etc/php/{{ cs_nc_php_version }}/mods-available/opcache.ini
        option: opcache.interned_strings_buffer
        value: 64
      - path: /etc/php/{{ cs_nc_php_version }}/mods-available/opcache.ini
        option: opcache.memory_consumption
        value: 256

- name: Nextcloud | Prepare | Create SSL Directory
  when: cs_nc_protocol == "https"
  ansible.builtin.file:
      path: /etc/ssl/{{ cs_nc_domain }}
      state: directory
      mode: "0755"

- name: Nextcloud | Prepare | Copy SSL Certificates
  when: cs_nc_protocol == "https"
  ansible.builtin.copy:
      content: "{{ item.content | b64decode }}"
      dest: "/etc/ssl/{{ cs_nc_domain }}/{{ item.dest }}"
      mode: "0644"
  with_items:
      - content: "{{ cs_nc_full_chain_b64 }}"
        dest: fullchain.pem
      - content: "{{ cs_nc_priv_key_b64 }}"
        dest: privkey.pem

- name: Nextcloud | Prepare | Create Apache2 config
  ansible.builtin.template:
      src: templates/apache-nc-conf.j2
      dest: "/etc/apache2/sites-available/nextcloud.conf"
      mode: "0644"

- name: Nextcloud | Prepare | Enable Apache2 Modules
  community.general.apache2_module:
      name: "{{ item }}"
      state: present
  with_items:
      - proxy_fcgi
      - setenvif
      - rewrite
      - headers
      - env
      - dir
      - mime
      - ssl
      - socache_shmcb

- name: Nextcloud | Prepare | Enable Apache2 config for PHP
  ansible.builtin.command:
      cmd: a2enconf php{{ cs_nc_php_version }}-fpm
  changed_when: true

- name: Nextcloud | Prepare | Enable Apache2 site for Nextcloud and SSL
  ansible.builtin.command:
      cmd: a2ensite default-ssl nextcloud
  changed_when: true
