[Unit]
Description=KES
Documentation=https://github.com/minio/kes/wiki
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=/usr/local/bin/kes

[Service]
WorkingDirectory={{ cs_minio_kes_working_dir }}
AmbientCapabilities=CAP_IPC_LOCK
User={{ cs_minio_kes_user_name }}
Group={{ cs_minio_kes_group_name }}
ProtectProc=invisible
ExecStart=/usr/local/bin/kes server --config="{{ cs_minio_kes_config_file }}"
Restart=always
LimitNOFILE=65536
TasksMax=infinity
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
