Listen {{ cs_nc_port }}
<VirtualHost *:{{ cs_nc_port }}>
    DocumentRoot {{ cs_nc_web_dir }}/
    ServerName {{ cs_nc_domain }}
    <IfModule mod_headers.c>
        Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains"
        Header always set X-Content-Type-Options "nosniff"
        Header always set X-XSS-Protection "1; mode=block"
        Header always set X-Robots-Tag "none"
        Header always set X-Frame-Options "SAMEORIGIN"
        Header always set Referrer-Policy "no-referrer"
    </IfModule>
    <Directory {{ cs_nc_web_dir }}/>
        Require all granted
        AllowOverride All
        Options FollowSymLinks MultiViews
        <IfModule mod_dav.c>
            Dav off
        </IfModule>
        Satisfy Any
    </Directory>
    ErrorLog ${APACHE_LOG_DIR}/nextcloud_error.log
    CustomLog ${APACHE_LOG_DIR}/nextcloud_access.log combined
{% if cs_nc_protocol == "https" %}
    SSLEngine on
    SSLCertificateFile {{ cs_nc_cert_cert_file }}
    SSLCertificateChainFile {{ cs_nc_cert_chain_file }}
    SSLCertificateKeyFile {{ cs_nc_cert_privkey_file }}
    SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1 -TLSv1.2
    SSLHonorCipherOrder     off
    SSLSessionTickets       off
{% else %}
    SSLEngine off
{% endif %}

    # ProxyPreserveHost On
    # SSLProxyEngine On
    # AllowEncodedSlashes NoDecode
    # SSLProxyVerify None
    # SSLProxyCheckPeerCN Off
    # SSLProxyCheckPeerName Off

    # # static html, js, images, etc. served from coolwsd
    # # browser is the client part of Collabora Online
    # ProxyPass           /browser {{ cs_collabora_private_url }}/browser retry=0
    # ProxyPassReverse    /browser {{ cs_collabora_private_url }}/browser

    # # WOPI discovery URL
    # ProxyPass           /hosting/discovery {{ cs_collabora_private_url }}/hosting/discovery retry=0
    # ProxyPassReverse    /hosting/discovery {{ cs_collabora_private_url }}/hosting/discovery

    # # Capabilities
    # ProxyPass           /hosting/capabilities {{ cs_collabora_private_url }}/hosting/capabilities retry=0
    # ProxyPassReverse    /hosting/capabilities {{ cs_collabora_private_url }}/hosting/capabilities

    # # Main websocket
    # ProxyPassMatch      "/cool/(.*)/ws$"      wss://{{ cs_nc_private_ip }}:{{ cs_collabora_port }}/cool/$1/ws nocanon

    # # Admin Console websocket
    # ProxyPass           /cool/adminws wss://{{ cs_nc_private_ip }}:{{ cs_collabora_port }}/cool/adminws

    # # Download as, Fullscreen presentation and Image upload operations
    # ProxyPass           /cool {{ cs_collabora_private_url }}/cool
    # ProxyPassReverse    /cool {{ cs_collabora_private_url }}/cool
    # # Compatibility with integrations that use the /lool/convert-to endpoint
    # ProxyPass           /lool {{ cs_collabora_private_url }}/cool
    # ProxyPassReverse    /lool {{ cs_collabora_private_url }}/cool

</VirtualHost>
{% if cs_nc_protocol == "https" %}
SSLUseStapling On
SSLStaplingCache "shmcb:logs/ssl_stapling(32768)"
{% endif %}
