CS_NC_EXTERNAL_DRIVE_MOUNT_DATA_DUMP_PATH={{ cs_nc_external_drive_mount_data_dump_path }}
CS_NC_RUN_USER={{ cs_nc_run_user }}
CS_NC_RUN_GROUP={{ cs_nc_run_group }}
CS_NC_WEB_DIR={{ cs_nc_web_dir }}
CS_NC_ROOT_DIR={{ cs_nc_root_dir }}
CS_NC_DB_CHAIN_PEM_FILE={{ cs_nc_db_chain_pem_file }}
CS_NC_DB_CERT_PEM_FILE={{ cs_nc_db_cert_pem_file }}
CS_NC_DB_PRIVKEY_PEM_FILE={{ cs_nc_db_privkey_pem_file }}
CS_NC_DB_PASSWORD={{ cs_nc_db_password }}
CS_NC_DB_DATABASE={{ cs_nc_db_database }}
CS_NC_DB_USER={{ cs_nc_db_user }}
CS_NC_DB_HOST={{ cs_nc_db_host }}
CS_NC_DB_PORT={{ cs_nc_db_port }}
CS_NC_DB_DOCKER_IMAGE={{ cs_nc_db_docker_image }}
CS_NC_DB_VERSION={{ cs_nc_db_version }}
CS_NC_LOG_FILE={{ cs_nc_log_file }}
