[Unit]
Description=Nextcloud cron.php job

[Service]
User={{ cs_nc_run_user }}
Group={{ cs_nc_run_group }}
ExecCondition=/usr/bin/php -f {{ cs_nc_web_dir }}/occ status -e
ExecStart=/usr/bin/php -f {{ cs_nc_web_dir }}/cron.php
WorkingDirectory={{ cs_nc_web_dir }}
KillMode=process
