[Unit]
Description=Nextcloud Data Dump Timer

[Timer]
Persistent=true
OnBootSec=300s
OnUnitActiveSec=43200
Unit=nextcloud-data-dump.service

[Install]
WantedBy=timers.target
