[Unit]
Description=Run Nextcloud cron every 15 minutes

[Timer]
Persistent=true
OnBootSec=300s
OnUnitActiveSec=900s
Unit=nextcloud-cron.service

[Install]
WantedBy=multi-user.target
